@charset "UTF-8";

.ly-header {
  text-align: center;

  .header-wrapper {
    padding: 1rem;
    h1 {
      margin: 0;
      font-weight: 700;
      color: $c-primary-800;
      font-size: 3rem;
    }
    p {
      font-weight: 300;
      color: $c-primary-700;
      font-size: 1.25rem;
    }
  }
}
