@charset "UTF-8";

.ly-footer{
    background: $c-secondary-800;
    text-align: center;
    p {
        margin: 0;
        padding: .5rem 0;
        font-weight: 500;
        font-size: .9rem;
        color: $white_c;
        a {

        color: $white_c;
        }
    }
}